/* --DEFINICION DE VARIABLES -- */
:root {
    --altura-cabecera-desktop: 7.95rem;
    --boton-azul: #2A7AE4; 
    --fuente-azul: #2A7AE4;
    --titulo-gris: #464646;
    --raleway: 'Raleway', sans-serif;
    
}

body {
    font-family: var(--raleway);
}

/* Padding para Mobile. Pendiente de ver cómo se hace con Desktop, ya que el porcentaje es de 10.56  
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}*/

/* Desktop, padding vertical es de 16px, font-size: 16px  */
.boton {
    background: var(--boton-azul);
    border: none;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.75rem 1rem;
}

.botonVer {
    background: none;
    border: none;
    color: var(--fuente-azul);
    font-size: .875rem;
    font-weight: 700; 
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
    text-align: left;
}



