@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.cabecera {
    align-items: center;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cabecera-logoInput {
    width: 37%;
}

.cabecera-logo {
   width: 100%;
}

.cabecera-buscador {
    display: none;
}

.cabecera-boton {
    border: 1px solid #2A7AE4;
    border-radius: 2rem;
    color: #2A7AE4;
    font-family: "Raleway";
    font-size: 0.875rem;
    font-weight: 600;         
    padding: 1rem 3rem 1rem 3rem;
    width: 37%;
}

.cabecera-lupa {
    width: 4.7%;
}

@media screen and (min-width:650px) {
    .cabecera {
        padding: 1rem 2rem;
    }
    
    .cabecera-logoInput {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 53%;
    }

    .cabecera-logo {
        width: 25%;
    }

    .cabecera-buscador {
        background: #f5f5f5;
        border: none;
        border-radius: 20px;
        display: initial;
        height: 2.5rem;
        padding-left: 1rem;        
        width: 67%;
    } 

    .cabecera-buscador::placeholder {
        color: #A2A2A2;
        font-size: 0.875rem;
        font-weight: 400;
    }

    .cabecera-lupa {
        left: 49%;
        opacity: 50%;
        position: absolute;
        width: 2%;
    }

    .cabecera-boton {
        padding: 0.75rem 4rem;
        width: 22%;
    }
}

@media screen and (min-width:1180px) {
    .cabecera {
        padding: 2.35rem 9.5rem;
    }
    
    .cabecera-logoInput {
        width: 53%;
    }

    .cabecera-logo {
        width: 29%;
    }

    .cabecera-buscador {
        padding-left: 1rem;        
        width: 65%;   
    }

    .cabecera-lupa {
        left: 50%;
        opacity: 50%;
        position: absolute;
        width: 1.5%;
    }

    .cabecera-boton {
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem;
        width: 16%;
    }
}