.footer-contacto {
    align-items: center;
    background: #eaf2fd;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 21%;
    text-align: center;
    width: 100%;
}

.footer-logoLista {
    height: 47.02%;
    width: 91.11%;
    padding: 1rem 1rem 2rem 1rem;
}


.footer-logo {
    height: 19.23%;
    width: 53.66%;
    padding-bottom: 1rem;
}

.footer-lista{
    font-weight: 500;
}

.footer-item{
    padding-bottom: 1rem;
}

.footer-formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100vw - 2rem);
}

.footer-formulario-titulo {
    font-weight: 700;
    margin-bottom: .5rem;
}

.footer-formulario-input {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    width: calc(100vw - 2rem);
}


.footer-formulario-inputCasilla {
    border: none;
    border-bottom: 2px solid #c8c8c8;
    height: calc(3.5rem - 1.75rem);
    padding-left: .875rem;
    padding-top: 1.75rem;
}

#mensaje {
    height: 5.125rem;
    margin-top: 1rem;
}

.footer-formulario-inputCasilla::placeholder {
    left: .875rem;
    position: absolute;
    font-size: .75rem; 
    top: 0.5rem;
}

#mensaje::placeholder{
    font-size: 1rem;
}

.footer-formulario-inputCasilla:focus::placeholder {
    opacity: 0;
} 

.footer-enviar {
    margin-bottom: 1rem;
}

.footer-autor {
    background: linear-gradient(45deg, #36042b, #0f072d);
    color: white;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 2rem 0 2rem 0;
    text-align: center;
}

@media screen and (min-width:650px) {
    
    .footer-contacto {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        height: 47.4%;
    }
    
    .footer-logoLista {
        height: 69.78%;
        width: 33%;
        text-align: left;
        padding: 2rem 0rem 0rem 0rem;
    }

    .footer-logo {
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    .footer-lista {
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .footer-item {
        padding-bottom: 1.5rem;
    }

    .footer-formulario {
        height: 69.78%;
        width: 56.51%;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    .footer-formulario-input {
        width: 56.51vw;
    }
}

@media screen and (min-width:1180px) {
    .footer-contacto {
        align-items: initial;
        flex-direction: row;
        padding: 4rem 9.5rem;
        width: 78.89%;
        
    }

    .footer-logoLista {
        display: flex;
        width: 40.85%;
        justify-content: space-between;
        padding: 0;
    }

    .footer-logo {
        width: 41.16%;
        padding: 0;
    }

    .footer-lista {
        padding: 0;
        width: 41.16%;
    }
    
    .footer-formulario {
        padding: 0;
        width: 51.94%;
    }
    
    .footer-formulario-input {
        width: calc(51.94vw - 9.5rem);
    }
    
}