@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.footer-contacto {
    align-items: center;
    background: #eaf2fd;
    display: flex;
    flex-direction: column;
    font-family: "Raleway";
    font-size: 1rem;
    height: 21%;
    text-align: center;
    width: 100%;
}

.footer-logoLista {
    height: 47.02%;
    width: 91.11%;
    padding: 1rem 1rem 2rem 1rem;
}


.footer-logo {
    height: 19.23%;
    width: 53.66%;
    padding-bottom: 1rem;
}

.footer-lista{
    font-weight: 500;
}

.footer-item{
    padding-bottom: 1rem;
}

.footer-formulario {
    text-align: left;
    padding: 0 1rem 1rem 1rem;
    width: 91.11%;
    
}

.footer-formulario h3 {
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.footer-input-nombre {
    border: none;
    border-bottom: 2px solid #c8c8c8;
    font-family: "Raleway";
    font-size: 0.75rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0 1.9375rem 0.75rem;
    width: calc(100% - 1rem);
}

.footer-input-mensaje {
    border: none;
    border-bottom: 2px solid #c8c8c8;
    font-family: "Raleway";
    font-size: 0.75rem; 
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 2.875rem 0.75rem;
    width: calc(100% - 1rem);   
}

.enviar {
    background: #2a7ae4;
    border: none;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 1rem;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
}

.footer-autor {
    background: linear-gradient(45deg, #36042b, #0f072d);
    color: white;
    font-family: "Raleway";
    font-weight: 500;
    line-height: 1.5rem;
    padding: 2rem 0 2rem 0;
    text-align: center;
    
}

@media screen and (min-width:650px) {
    
    .footer-contacto {
        flex-direction: row;
        justify-content: space-between;
        height: 47.4%;
    }
    
    .footer-logoLista {
        height: 69.78%;
        width: 33%;
        text-align: left;
        padding: 2rem 0rem 0rem 0rem;
    }

    .footer-logo {
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    .footer-lista {
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .footer-item {
        padding-bottom: 1.5rem;
    }

    .footer-formulario {
        height: 69.78%;
        width: 56.51%;
        padding-right: 2rem;
    }

    .footer-input-nombre {
        padding: 0.5rem 0 2rem 0.75rem;
        width: 100%;
    }

    .footer-input-mensaje {
        border: none;
        border-bottom: 2px solid #c8c8c8;
        font-family: "Raleway";
        font-size: 0.75rem; 
        margin-bottom: 0.5rem;
        padding: 0.5rem 0 2.875rem 0.75rem;
        width: 100%;   
    }
}

@media screen and (min-width:1180px) {
    .footer-contacto {
        align-items: initial;
        flex-direction: row;
        padding: 4rem 9.5rem;
        width: 78.89%;
        
    }

    .footer-logoLista {
        display: flex;
        width: 40.85%;
        justify-content: space-between;
        padding: 0;
    }

    .footer-logo {
        width: 41.16%;
        padding: 0;
    }

    .footer-lista {
        padding: 0;
        width: 41.16%;
    }
    
    .footer-formulario {
        padding: 0;
        width: 51.94%;
    }
    
    .footer-input-nombre {        
        font-size: 0.875rem;
        width: calc(100% - 0.75rem);
    }

    .footer-input-mensaje {
        font-size: 1rem; 
        padding: 1rem 0 2.875rem 0.75rem;
        width: calc(100% - 0.75rem);   
    }
    
    .enviar {
        padding: 1rem;
    }
}