@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.categoria-parteSuperior {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.categoria-titulo {
    color: #464646;
    font-size: 22px;
    font-weight: 700;
}

.categoria-botonVer {
    display: flex;
    justify-content: start;
    padding-right: 2rem;
}

.categoria-ver {
    color: #2a7ae4;
    font-size: 14px;
    margin-right: 0.5rem;
}

.categoria-flecha {
    background: url("../../images/Flecha.azul.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 1rem;
    width: 1rem;
}

@media screen and (min-width:450px) {

    .categoria-parteSuperior {
        padding-left: 6rem;
        padding-right: 15rem;
        padding-top: 4rem;   
    }

    .categoria-titulo {
        color: #464646;
        font-size: 32px;
        font-weight: 700;
    }

    .categoria-botonVer {
        padding-right: 12rem;
    }

    .categoria-ver {
        font-size: 16px;
    }

    .categoria-flecha {
        background-size: 100%;
    }





}
