@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.categoria {
    font-family: "Raleway";
    height: 40rem;
    overflow: hidden;
}

#consolas, #videoJuegos {
    height: 36.5rem;
}

@media screen and (min-width:650px) {
    .categoria {
        height: 21rem;
    }
    
    #consolas, #videoJuegos {
        height: 20.5rem;
    }

}

@media screen and (min-width:1180px) {

    .categoria {
        height: 24rem;
    }

    #consolas, #videoJuegos {
        height: 24rem;
    }


}
